dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*~
*.tar.gz
*.log
*.org
*.idr
.stack-work/
Bounds.txt
Examples.hs
PropertiesBrent.hs
SourceGraph/
UnitTests.hs
_darcs/
announce.txt
cabal.config*
cabal.sandbox.config*
cyclotomic.cabal-*
src/Profiling.hs
stack.yaml
test20170122/
